{% extends 'global/base.html' %}

{% block title %}Login | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Login</h2>
    {% if request.user.is_authenticated %}
      <div>   
        <form class=" main-form inline-form" action="{% url "authors:logout" %}" method="post">
          <input type="hidden" name="username" value="{{request.user.username}}">
          {% csrf_token %}

          Your are logged with 
          {{ request.user.username }}.
            Please, 
          <button class="plaintext-button btn-logout"type="submit"> clique here, </button> to logout.
        </form>
      </div>

    {% endif %}
  </div>

  {% include 'global/partials/messages.html' %}
  {% include 'global/partials/form.html' %} 
{% endblock content %}
